<footer class="col-12 fixed-bottom">
    <div class="row bg-dark text-light p-4">
        <div class="col-sm-6">
            <i class="fab fa-js-square fa-6x mr-4"></i>
            <i class="fab fa-node-js fa-6x"></i>
        </div>
        <div class="col-sm-6 text-center">
            <p>2020 &copy Daniel Pompa Pareja</p>
            <div class="mt-4">
                <a href="https://www.linkedin.com/in/daniel-pompa-pareja/">
                    <i class="fab fa-linkedin fa-3x text-light mr-1"></i>
                </a>
                <a href="https://github.com/Daniel-45">
                    <i class="fab fa-github-square fa-3x text-light mr-1"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-square fa-3x text-light mr-1"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter-square fa-3x text-light mr-1"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram fa-3x text-light"></i>
                </a>
            </div>
        </div>
    </div>
</footer>