<div class="col-md-5 col-lg-5 sm-12 m-auto mt-5">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="font-weight-bold">Nombre</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label class="font-weight-bold">Apellidos</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="font-weight-bold">Teléfono</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-phone"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="font-weight-bold">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                    <input type="email" class="form-control" />
                </div>
            </div>
        </div>

            <label class="font-weight-bold">Mensaje</label>
            <textarea name="" id="" cols="10" rows="3" class="form-control"></textarea>


        <button type="submit" class="btn btn-dark btn-block mt-4">Enviar</button>
    </form>
</div>