<main class="col-12 p-4 text-justify">
    <h2><%= title%></h2>
    <p class="text-muted font-weight-bold">
        Fecha: <%= new Date().toLocaleDateString()%>
    </p>
    <p>
        Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor,
        basado en el lenguaje de programación JavaScript, asíncrono, utiliza un modelo de E/S de datos sin bloqueo, en
        una arquitectura orientada a eventos que lo hace muy ligero y eficiente frente a las aplicaciones en tiempo real
        de uso de datos y basado en el motor V8 de Google. Fue creado con el enfoque de ser útil en la creación de
        aplicaciones de red altamente escalables, como por ejemplo, servidores web.
    </p>
    <p>
       <a href="https://nodejs.org/es/" class="text-decoration-none">https://nodejs.org/es/</a>
    </p>
    <p>
        Express.js es un framework para Node.js. Está diseñado para crear aplicaciones web y API.
        Con Express.js se puede desarrollar aplicaciones web en menos tiempo y nos proporciona funcionalidades como el
        enrutamiento, opciones para gestionar sesiones, cookies…
    </p>
    <p>
       <a href="https://expressjs.com/es/" class="text-decoration-none">https://expressjs.com/es/</a>
    </p>
</main>